/backend/prisma/ @umssy/Database
README.md @umssy/DevOps
.github/ @umssy/DevOps
.husky/ @umssy/DevOps
scripts/ @umssy/DevOps
vitest.config.* @umssy/DevOps
eslint.config.* @umssy/DevOps
vitest.setup.* @umssy/DevOps
/frontend/src/style.css @umssy/DevOps
/frontend/src/app/globals.css @umssy/DevOps

